body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x:hidden;
  overflow-y:auto;  
}
nav {
  background-color: #fff;
  color: #666;
  text-align: center;
}
nav a {
  color: inherit; /* 移除超連結顏色 */
  display: block; /* 讓 <a> 填滿 <li> */
  text-decoration: none;  /* 移除超連結底線 */
  padding: 10px;
  font-size: 1.2em;
}
nav li:hover {
  background-color: #e8e8e8;
}
nav > ul {
  list-style: none;   /* 移除項目符號 */
  margin: 0;
  padding: 0;
}
nav ul{
  display: flex;
  justify-content: center;
}
nav .nav-logo{
  text-transform:uppercase;  
  font-size: 1.5em;
}