@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Caesar Dressing');
@import url('https://fonts.googleapis.com/css?family=Galada');

html, body {
    height: 100%;
    margin: 0;
}
#wrapper {
    font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: #442300;
    /* 高度最小為100% */
    min-height: 100%;
    /* 位置設為relative, 作為footer區塊位置的參考 */
    position: relative;
}
#header {
    font-family: '微軟正黑體', 'Quicksand', sans-serif;
    background: url(../img/bg.jpg) repeat;
    /* header的高度 */  
    height: 650px;
}
#content {
    background-color: #ffffff;
    width:80%;
    height:100%;
    /* 留出header及footer區塊的空間 */
    padding-bottom: 30px;
    margin:0 auto;
}
#footer {
    background-color: #442300;
    color: #fff;
    text-align: center;
    /* footer的高度 */
    width: 100%;
    height: 23px;
    padding-top: 7px;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
}
#navbar {
    background-color: #fff;
    width: 80%;
    height: 150px;
    box-sizing: border-box;
    /* 固定位置 */    
    position: absolute;    
    top: 50px;
    /* 區塊水平置中 */
    left: 50%;
    transform: translateX(-50%);
}

.nav-logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-logo img {
    width: auto;
    height: 70px;    
}
.nav-list {
    width: inherit;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto 20px;
}
.nav-link {
    text-decoration: none;
    color: #442300;
}
.nav-link:hover {
    border-bottom: 1px solid #ff9400;
    color: #ff9400;
}
.nav-banner {
    background: url(../img/banner0.jpg) no-repeat;
    background-size: cover;
    width: 80%;
    height: 450px;
    /* 固定位置 */    
    position: absolute;    
    top: 200px;
    /* 區塊水平置中 */
    left: 50%;
    transform: translateX(-50%);
}
.card-group {
    text-align: center;
}
.card {
    text-align: left;
    width: 40%;
    height: 400px; 
    padding: 50px 20px;
    display: inline-block;
    vertical-align:top;/* 基線對齊 */    
}
.card table tr th{
    font-weight: inherit;
    font-size: 1.2em;
    height: 2em;
}
.card .td-l{
    text-align: center;
    width: 25%;
    height: 1.5em;
}
.card .td-r{
    text-align: left;
    width: 75%;
    height: 1.5em;
}
.card-product{
    text-align: center;
    width: 25%;
    height: 200px;
    background: url(../img/product1.jpg) no-repeat center;
    background-size: 100%;
    margin: 30px 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align:top;/* 基線對齊 */
}
/*
.card-product img{
    width: 100%;
    height: auto;
}*/
.card-product .info{
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 15px 0;
    position: absolute;
    bottom: -100px;
    /* 省略多餘字串 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.card-product:hover .info{
    bottom: 0;
}