@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.web-navlogo{
  font-family: 'Quicksand', sans-serif;
  text-transform:uppercase;
}
.web-navlink{
  font-family: 'Quicksand', sans-serif;
  text-transform:capitalize;
}
.top-banner-bg{    
  background-image: url(../img/1280_960.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
  margin: -20px 0;
  padding: 0;
}
.top-banner{
  background:rgba(255,255,255,0.3);
  width: 100%;
  height: 600px;
  position: absolute;
  line-height: 50px;
  text-align: center; 
  
}
