@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.web-navlogo{
  font-family: 'Quicksand', sans-serif;
  text-transform:uppercase;
}
.web-navlink{
  font-family: 'Quicksand', sans-serif;
  text-transform:capitalize;
}
